# Doku: https://coreos.com/docs/launching-containers/launching/getting-started-with-systemd/
# Don't forget "systemctl daemon-reload" after changes

[Unit]
Description=A docker container with mariadb as slave
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill mariadb-slave
ExecStartPre=-/usr/bin/docker rm mariadb-slave
ExecStartPre=/usr/bin/docker pull {{ images }}
ExecStart=/usr/bin/docker run --name=mariadb-slave \
    -v {{ slave.datavolume }}:/var/lib/mysql \
    -v {{ slave.configvolume }}:/etc/mysql/conf.d \
    -e {{ slave.env01 }} \
    -e {{ slave.env02 }} \
    -e {{ slave.env03 }} \
    --link {{ slave.masterdomain }}:{{ slave.masterdomain }} \
    {{ images }}

[Install]
WantedBy=multi-user.target
